<h1>座席予約 - <%= @movie.name %></h1>
<p>日付：<%= @date %></p>
<p>時間：<%= @schedule.start_time.strftime('%H:%M') %>〜<%= @schedule.end_time.strftime('%H:%M') %></p>

<h2>座席表</h2>
<table>
  <% ['a', 'b', 'c'].each do |row| %>
    <tr>
      <% @sheets.select { |s| s.row == row }.each do |sheet| %>
        <td style="padding: 5px;">
          <% if @reserved_sheets.include?(sheet.id) %>
            <span style="color: gray;"><%= "#{sheet.row.upcase}-#{sheet.column}" %></span>
          <% else %>
            <%= link_to "#{sheet.row.upcase}-#{sheet.column}",
                        new_movie_schedule_reservation_path(@movie, @schedule,
                          date: @date, sheet_id: sheet.id) %>
          <% end %>
        </td>
      <% end %>
    </tr>
  <% end %>
</table>
